@import '//at.alicdn.com/t/font_435259_4om6313mz51urf6r.css';
.iconfont {
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont:hover {
  color: #e26d6d;
}
.icon-backtotop {
  font-size: 3em;
}
.icon-tag,
.icon-category {
  font-size: 1.3em;
}
.icon-tag-inner {
  font-size: 1rem;
}
.icon-tag-inner:hover {
  color: #000;
}
.icon-detail {
  font-size: 1em;
}
.icon-post {
  font-size: 1em;
}
.icon-left,
.icon-right {
  font-size: 0.9em;
}
.icon-date {
  font-size: 1rem;
}
.icon-words {
  font-size: 1.2rem;
}
.icon-eye {
  font-size: 1.3rem;
}
.icon-open,
.icon-close {
  font-size: 0.8em;
}
.icon-article {
  font-size: 0.9em;
  padding: 0.1em;
}
.icon-search {
  font-size: 1rem;
}
.icon-cancel {
  cursor: pointer;
}
.icon-reward,
.icon-noreward {
  font-size: 2.5em;
  opacity: 0.7;
}
.icon-pv,
.icon-uv {
  font-size: 1.2em;
}
.block,
.article,
.widget {
  heigth: auto;
  margin: 1em 0;
  padding: 0.6em;
  background: #f6f8fa;
}
.tag a,
.small-tag a,
.tag-wrap,
.meta-item {
  margin: 3px 2px;
  padding: 0 12px;
  display: inline-block;
  line-height: 25px;
  font-family: 'Roboto', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑';
  border: 1px solid #d5dce5;
  border-radius: 999em;
}
.tag a:hover,
.small-tag a:hover,
.tag-wrap:hover,
.meta-item:hover {
  opacity: 1;
  background: rgba(255,255,255,0.2);
  color: #000;
  border: 1px solid #000;
}
img,
.reward-brg,
.gallery-brg {
  border-radius: 5px;
}
@media screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) {
  .header-logo::after,
  .foot-link a::after,
  .post-content a::after,
  .category-link::after,
  .tag-link::after,
  .article-excerpt p a::after,
  .article-readmore::after,
  .category-name::after,
  .widget-title::after,
  .link-item a::after {
    content: " ";
    width: 100%;
    height: 0px;
    background: #fff;
    position: absolute;
    top: 99%;
    left: 0%;
    transition: 0.3s;
  }
  .header-logo:hover:after,
  .foot-link a:hover:after,
  .post-content a:hover:after,
  .category-link:hover:after,
  .tag-link:hover:after,
  .article-excerpt p a:hover:after,
  .article-readmore:hover:after,
  .category-name:hover:after,
  .widget-title:hover:after,
  .link-item a:hover:after {
    background: #000;
    height: 2px;
    top: 96%;
    left: 0%;
  }
}
.clearfix():before,
.clearfix():after {
  content: " ";
  display: table;
}
.clearfix():after {
  clear: both;
}
body {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;
}
h1 {
  font-size: 28px;
  margin: 60px 0 30px 0;
  border-bottom: 1px solid #f0f0f0;
}
h2 {
  margin: 20px 0 0 0;
  font-size: 22px;
}
h3 {
  margin: 16px 0 0 0;
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5,
h6 {
  font-size: 10px;
}
p {
  letter-spacing: 0.4px;
  font-size: 16px;
  margin: 26px 0;
  line-height: 1.7;
}
blockquote {
  display: block;
  letter-spacing: 0.4px;
  font-size: 16px;
  padding-left: 10px;
  margin: 38px 0;
}
blockquote p {
  margin: 0;
  padding-left: 10px;
  border-left: 3px solid #727272;
}
hr {
  margin: 1em 0;
  opacity: 0.2;
  border: 0.2px solid #aaa;
}
li {
  margin: 8px 0;
}
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 16px;
  color: #4d4d4c;
  background: #eee;
  line-height: 0.9;
}
pre,
code {
  font-family: 'Helvetica', 'consolas';
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: $code-foreground;
  background: $code-background;
  border-radius: $code-border-radius;
  font-size: 16px;
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: #4d4d4c;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 8px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption a {
  float: right;
  color: #4d4d4c;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #869194;
  text-align: right;
  background-color: #eee;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eee;
}
.highlight .line {
  height: 20px;
  border: none;
}
.highlight .marked {
  width: 100%;
  border-left: 2px solid #727272;
  margin: 0.5em 0;
  padding-left: 0.5em;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #c397d8;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #e24c38;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #e78c45;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #360;
}
pre .title,
pre .css .hexcolor {
  color: #70c0b1;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #7aa6da;
}
pre .keyword,
pre .javascript .function {
  color: #e24c38;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #f5f6fa;
  line-height: 0.9;
  letter-spacing: 0.3px;
  margin: 0;
  padding: 0;
  font: 15px 'Source Sans Pro', 'Roboto', 'Open Sans Condensed', 'Verdana', 'Helvetica', '微软雅黑', 'sans serif';
}
body {
  overflow-x: hidden;
}
.ul,
.li {
  margin: 0;
  padding: 0.2em;
  list-style-type: none;
  display: inline;
}
.page-title {
  display: block;
  font-size: 1.2em;
  font-family: 'Helvetica Neue', 'Verdana', 'PingFang TC';
  font-weight: 500;
  margin-bottom: 2.6em;
  opacity: 0.8;
  line-height: 10px;
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #000;
}
a:link {
  color: #454545;
}
a:visited {
  color: #454545;
}
a:active {
  color: #454545;
}
img {
  width: 100%;
  height: auto;
}
img:hover {
  opacity: 0.8;
}
time {
  font: 1rem 'Times New Roman';
  opacity: 0.6;
}
.container {
  margin-top: 1.8em;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container {
  flex-direction: row-reverse;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.inline {
  display: inline;
}
.center {
  text-align: center;
}
.back-to-top {
  padding: 0.1em;
  color: #454545;
  display: none;
  position: fixed;
  cursor: pointer;
  opacity: 0.8;
  z-index: 20;
  bottom: 8%;
  left: 90%;
}
.back-to-top:hover {
  color: #e26d6d;
  border: 1px solid #000;
  border-radius: 6px;
}
#toc {
  overflow: hidden;
  position: absolute;
  top: 0;
}
#post {
  width: 54%;
}
#toc {
  left: 79%;
}
#main {
  width: 50%;
}
#sidebar {
  width: 18%;
}
#main,
#sidebar {
  margin: 0 2em;
}
@media screen and (max-width: 479px) {
  #toc {
    display: none;
  }
}
::selection {
  background: #727272;
  color: #fff;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #aaa;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555;
}
.header {
  clear: both;
  width: 100%;
  z-index: 666;
  border-bottom: 1px solid #f0f0f0;
}
.header-nav {
  width: 66%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  position: relative;
  display: inline-block;
  line-height: 70px;
  margin: 0 4rem;
  color: #454545;
  font-size: 1.7rem;
  font-family: 'Lucida Grande', 'Open Sans Condensed';
  height: 100%;
}
.header-logo:visited,
.header-logo:active {
  color: #454545;
}
.header-logo:hover {
  color: #000;
}
.header-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-link {
  margin: 0 0.8em;
  height: 100%;
  display: inline-block;
  line-height: 4.5em;
  font-size: 1.1rem;
  opacity: 0.8;
  letter-spacing: 0.5px;
}
.header-menu-link:visited,
.header-menu-link:active {
  color: #454545;
}
.header-menu-link:hover {
  color: #e26d6d;
}
.header-static {
  position: static;
  opacity: 1;
  background-color: #f5f6fa;
  border-radius: 10px;
}
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: #fff;
  transition: 0.6;
}
.header-menu-active {
  border-bottom: 2px solid #000;
}
.header-menu-active:visited,
.header-menu-active:active {
  color: #000;
}
#footer {
  margin: 6em 0 3em 0;
  text-align: center;
  color: #454545;
  opacity: 0.7;
  font-size: 0.9rem;
  clear: both;
}
.foot-link a {
  position: relative;
  margin: 0.4em 0;
  color: #e26d6d;
}
.foot-link a:hover {
  color: #727272;
}
.foot-busuanzi,
.foot-link,
.foot-copyright {
  margin: 0.4em auto;
}
.post {
  margin: 0 auto;
  overflow: hidden;
  padding-top: 0.4em;
}
.post-head {
  border-bottom: 1px solid #f0f0f0;
}
.post-title {
  display: block;
  font-size: 2.8rem;
  font-family: 'Helvetica Neue', 'Open Sans Condensed', '微软雅黑';
  margin: 0.5em 0 1em;
}
.post-info {
  width: 100%;
  margin: 1em 0;
  font-family: 'Times New Roman';
}
.post-time,
.post-words,
.post-visitor {
  font-size: 1.2rem;
  opacity: 0.6;
  font-style: italic;
  padding-left: 0.12em;
}
.post-content {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.post-content a {
  color: #e26d6d;
  position: relative;
}
.post-content a:hover {
  color: #727272;
}
.-mob-share-list {
  text-align: right;
  clear: both;
  width: 100%;
  margin: 1rem 0;
}
.-mob-share-list span {
  padding: 0.2rem;
  margin: 1rem 0;
  border: 1px solid #808080;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.7;
}
.-mob-share-list span:hover {
  color: #e26d6d;
  border: 1px solid #e26d6d;
}
.nav {
  margin: 2em 0;
  padding: 1em 0.8em;
  font-size: 1.2em;
  clear: both;
  border-top: 1px solid #eee;
}
.nav-prev {
  float: left;
}
.nav-next {
  float: right;
}
.nav-link {
  font-size: 1em;
}
.nav-link:hover {
  color: #e26d6d;
}
.reward-icon {
  margin: 0.4em auto;
  text-align: center;
  cursor: pointer;
  width: 40px;
}
.reward {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}
.reward-img-left,
.reward-img-right {
  margin: 1em 0.5em;
  width: 280px;
  height: auto;
  display: none;
}
.reward-brg {
  display: block;
  width: 280px;
  height: 280px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.reward-img {
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.post-widget {
  padding: 2em 0;
  text-align: center;
}
.post-widget a:hover {
  color: #000;
}
.post-widget-title {
  font-size: 1em;
  margin-bottom: 1em;
}
.meta {
  margin: 0.2em 0;
  width: 100%;
}
.category-link,
.tag-link {
  position: relative;
  padding: 0.2em 0;
}
.category-link:hover,
.tag-link:hover {
  color: #727272;
}
.archive-year {
  font-size: 1.2rem;
  font-family: 'Helvetica Neue', 'Open Sans Condensed', 'Optima';
  clear: both;
  margin: 1.5em 0;
  opacity: 0.85;
  line-weight: 2;
  letter-spacing: 2px;
}
.archive-item {
  font-size: 1em;
  font-family: 'Open Sans Condensed', 'Optima';
  clear: both;
  overflow: hidden;
  margin: 1em 1.8em;
}
.archive-item:hover {
  color: #e26d6d;
}
.archive-date {
  font-size: 1em;
  opacity: 0.5;
}
.archive-date:hover {
  color: #e26d6d;
}
.archive-title {
  margin-left: 2.2rem;
  font-size: 1rem;
}
.archive-title:hover {
  color: #e26d6d;
}
.article {
  padding: 1em 0;
  padding-top: 0;
  margin-bottom: 4rem;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 10px;
}
.article-header {
  margin: 0 auto;
  padding: 20px;
  border-left: 1.7px solid #aaa;
  border-bottom: 0.9px solid #f0f0f0;
  margin-bottom: 0.6em;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.article-header:hover {
  border-left: 3px solid #000;
  color: #000;
}
.article-title {
  width: auto;
  max-width: 89%;
  font-size: 1.4em;
  font-family: 'Helvetica Neue', 'Open Sans Condensed', '微软雅黑';
  font-weight: 500;
}
.article-title:visited,
.article-title:active {
  color: #454545;
}
.article-title:hover {
  color: #000;
}
.article-excerpt {
  padding: 0.5em;
  margin: 1em 0;
  height: 100%;
  font-size: 15px;
  line-height: 1.6;
  opacity: 0.9;
  text-align: justify;
}
.article-excerpt:hover {
  color: #000;
}
.article-excerpt p {
  letter-spacing: 0.2px;
  font-size: 16px;
  margin: 16px 0;
  line-height: 1.4;
}
.article-excerpt p a {
  color: #e26d6d;
  position: relative;
}
.article-excerpt p a:hover {
  color: #727272;
}
.article-readmore {
  position: relative;
  float: right;
  padding: 0.5em;
  margin: 0.4em 0.9em;
  font-size: 1rem;
}
.article-readmore:hover {
  color: #000;
}
.gallery-box {
  display: inline-block;
  width: 175px;
  height: auto;
}
.gallery-brg {
  display: block;
  width: 175px;
  height: 175px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.gallery-img {
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.paginator {
  margin: 4em 0;
  font-size: 1rem;
}
.prev,
.next,
.page-number {
  padding: 0.5em;
  margin: 0.2em;
  border: 1px solid #aaa;
  border-radius: 6px;
}
.prev:hover,
.next:hover,
.page-number:hover {
  border: 1px solid #e26d6d;
  color: #e26d6d;
}
.current {
  color: #e26d6d;
}
.category-item {
  overflow: hidden;
  margin: 2em;
}
.category-name {
  margin-left: 0.8em;
  padding-bottom: 0.6em;
  letter-spacing: 1px;
  position: relative;
}
.category-name:hover {
  color: $mian-clr;
}
.category-posts {
  display: none;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  padding-left: 1.6rem;
}
.category-post-item {
  display: block;
  margin: 1em 1.8em;
  letter-spacing: 0.5px;
}
.category-post-item:hover {
  color: #e26d6d;
}
.category-post-item a {
  margin-left: 1rem;
}
.category-post-item a:hover {
  color: #e26d6d;
}
.tag a {
  font-size: 0.5em;
}
.small-tag a {
  font-size: 0.9em;
}
.tag-wrap {
  display: inline-block;
  margin: 0.2em;
}
.tag-name {
  font-size: 1rem;
}
.tag-name:hover {
  color: #000;
}
.tag-wrap-line {
  border: 1px solid #aaa;
  padding: 0.4em;
  margin: 0.2em;
  border-radius: 999em;
}
.toc-container {
  display: none;
  margin: auto 0;
  height: 100%;
  width: 240px;
  overflow: auto;
}
.toc-contents {
  display: block;
  color: #454545;
  padding: 0.2em;
  margin: 1em 0;
  font-size: 1rem;
  cursor: pointer;
}
.toc-list,
list-style-type none,
.toc-item {
  display: block;
  font-size: 0.95rem;
  max-width: 240px;
  font-weight: 400;
  color: #454545;
  margin: 6px 0;
  padding: 0;
  letter-spacing: 1px;
}
.toc-item:hover {
  cursor: pointer;
  color: #e26d6d;
}
.toc-subitem {
  display: block;
  max-width: 240px;
  font-size: 0.85rem;
  margin: 6px 0;
  color: #808080;
  font-weight: 400;
}
.toc-subitem:hover {
  cursor: pointer;
  color: #e26d6d;
}
.toc-fixed {
  position: fixed;
  width: 90%;
  top: 0;
}
.toc-active {
  color: #e26d6d;
}
.toc-sub-active {
  color: #e26d6d;
}
.widget {
  text-align: center;
}
.widget-title {
  width: auto;
  padding: 1em 0;
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 1em;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  color: #808080;
}
.widget-title:hover {
  color: #000;
}
.pofile {
  padding: 0.8em;
  width: 100%;
}
.avatar {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 80%;
  border-radius: 10px;
}
.location {
  display: block;
  font-size: 12px;
  color: #808080;
}
.descrption {
  color: #808080;
}
.social {
  margin: 1em 0;
}
.count {
  overflow: hidden;
}
.count div {
  text-align: center;
  width: 50%;
  float: left;
}
.count-item {
  display: inline;
}
.count-item:hover {
  color: #e26d6d;
}
.search-widget {
  margin: 2.8rem auto;
  background-color: #fbfcfd;
  width: 72%;
  padding: 6px;
  height: 20px;
  border-radius: 8px;
  border: 1px solid #d5dce5;
  text-align: center;
  cursor: pointer;
}
.search-widget:hover {
  border: 1px solid #000;
  color: #e26d6d;
}
.search-word {
  font-size: 16px;
  color: #808080;
}
.search-word:hover {
  color: #e26d6d;
}
.recent-post {
  position: relative;
  display: block;
  margin: 0.8em 0;
  padding: 0.1rem;
  font-size: 15px;
  width: auto;
}
.recent-post:hover {
  color: #e26d6d;
}
.meta-item:hover {
  color: #000;
  border: 1px solid #000;
}
.meta-count {
  font-size: 0.4em;
  padding-bottom: 0.6em;
}
.meta-count:hover {
  color: #000;
}
.link-item {
  font-size: 0.8rem;
  border-radius: 10px;
}
.link-item a {
  position: relative;
  padding: 0.3em 0;
}
.link-item a:hover {
  color: #000;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.search-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0,0,0,0.3);
}
.search-container {
  position: fixed;
  left: 50%;
  top: 80px;
  z-index: 999;
  width: 700px;
  max-height: 600px;
  margin-left: -350px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
  background: #fff;
}
.search-input {
  margin: 0 auto;
  padding: 14px;
  font-size: 16px;
  width: 90%;
  height: 28px;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  outline: none;
}
.search-cancel {
  position: absolute;
  top: 14px;
  width: 18px;
}
.search-result {
  padding: 12px;
  margin: 3px 0;
  overflow: hidden;
}
.search-item {
  margin: 10px 0 12px 0;
  border-bottom: 1px solid #f0f0f0;
}
.search-title {
  text-align: left;
  padding-left: 12px;
  font-size: 16px;
}
.search-title:link,
.search-title:visited,
.search-title:active {
  color: #000;
}
.search-title:hover {
  color: #e26d6d;
}
.search-content {
  padding: 12px;
  margin: 2px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.search-empty {
  margin: 10px 0 12px 0;
  font-size: 16px;
  text-align: center;
}
.search-empty:hover {
  color: #e26d6d;
}
.search-keyword {
  color: #e26d6d;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 1.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
  }
}
.slideUp {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slideUp;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
.slideDown {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
.slideDownMin {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slideDownMin;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideLIn {
  0% {
    -webkit-transform: translateX(-65px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
.slideLIn {
  -webkit-animation-name: slideLIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(65px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
.slideRIn {
  -webkit-animation-name: slideRIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(15px);
  }
}
.itemLIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: itemLIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
.itemRIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: itemRIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-o-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-moz-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes slideLIn {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideLIn {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes slideLIn {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideLIn {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(65px);
    transform: translateX(65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(65px);
    transform: translateX(65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(65px);
    transform: translateX(65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideRIn {
  0% {
    -webkit-transform: translateX(65px);
    transform: translateX(65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}
@-webkit-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}
@-o-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}
@keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}
@-moz-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-o-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes itemRIn {
  0% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@media screen and (max-width: 479px) {
  .container {
    display: block;
  }
  .container,
  #main {
    clear: both;
    width: 98%;
    margin: 0;
    padding: 0 0.2em;
    margin-top: 1em;
  }
  #toc {
    display: none;
  }
  .header {
    width: 100%;
  }
  .header-nav {
    width: 100%;
    height: auto;
    padding: 0.2em 0;
    display: block;
    text-align: center;
  }
  .header-logo {
    display: block;
    clear: both;
    width: 18%;
    margin: 0 auto;
  }
  .header-menu {
    width: 100%;
    margin: 0.6em 0;
    padding: 0.1em 0;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }
  .header-menu-link {
    display: block;
    line-height: 2em;
    height: 50%;
  }
  .post-title {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .nav-prev,
  .nav-next {
    clear: both;
  }
  .reward {
    display: block;
  }
  .reward-img-left,
  .reward-img-right,
  .reward-brg {
    margin: 0;
    padding: 0.2em 0;
    width: 100%;
    clear: both;
  }
  .article-title {
    font-size: 1.1rem;
  }
  .article-date {
    font-size: 0.9rem;
  }
  .meta {
    display: none;
  }
  #sidebar {
    width: 100%;
    margin: 0 auto;
    clear: both;
  }
  #post {
    width: 100%;
  }
  .post-card,
  .excerpt,
  .bottom {
    width: 100%;
    padding-bottom: 0.2em;
  }
  .widget {
    display: none;
  }
  .profile {
    display: block;
    margin-top: 2rem;
  }
  .post-content {
    width: 100%;
  }
  .highlight {
    width: 100%;
  }
  .gallery-box,
  .gallery-brg,
  .gallery-img {
    width: 100%;
  }
  .back-to-top {
    left: 80%;
    bottom: 10%;
  }
  .prev,
  .next {
    font-size: 1rem;
  }
  .category-item,
  .category-posts,
  .category-post-item {
    margin: 1rem 0;
    padding: 0.1rem;
  }
  .search-container {
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 90%;
    border-radius: 0;
    border: none;
  }
  .search-input {
    width: 80%;
  }
  .search-result {
    padding: 4px;
    overflow: hidden;
  }
  .search-item {
    margin: 4px 4px 6px 4px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  html,
  body {
    font-size: 18px;
  }
  #main {
    width: 70%;
  }
  #sidebar {
    width: 30%;
  }
  #post {
    width: 96%;
  }
  #toc {
    display: none;
  }
  .gallery-box,
  .gallery-brg,
  .gallery-img {
    width: 140px;
  }
}
